<form action="sign-up" method="POST">

    <label for="username">Username</label>
    <input type="text" name="username" id="username" placeholder="Your username">
    <br>
    <label for="password"></label>
    <input type="password" name="password" id="password" placeholder="Your password">

    <button>Sign Up</button>
</form>